#add-update-user .add-update-user-form {
  background: #fff;
  padding: 25px;
  border-radius: 7px;
}
#add-update-user .add-update-user-form .ant-radio-inner {
  height: 15px;
  width: 15px;
  border-radius: 4px;
}
#add-update-user .add-update-user-form .upload-area {
  background: #eff3f9;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#add-update-user .add-update-user-form .upload-container {
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
}
#add-update-user .add-update-user-form .upload-container input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  border: 1px solid #dbe3ef;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
  margin-top: 15px;
}
